#tarjeta {
    border: 50px solid;
    background-color: blueviolet;
    margin: 50px;
}
img{
    width: 100%
}
 h1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
 }

 h2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
 }

 #tarjeta {
    border: 30px solid;
    
 }

